@model WebApplication1.Models.Question

<div class="modal-content">
<h3>вы точно хотите удалить этот вопрос?</h3>
    <hr />
    <div class="modal-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Type):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <hr />
            <hr />
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ques):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ques)
            </dd>

        </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" asp-route-id="@Model.Id" class="btn btn-danger" /> |
        <a asp-action="ShowQuestions">Вернуться к списку</a>
    </form>
</div>
    </div>
    